body {
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

body.menu-open {
    /* overflow: hidden;
    height: 100%; */
}

.theme-dark {
    background: #ffffff;
}

.theme-dark {
    background: #000000;
}

.theme-dark .visible-white {
    display: none;
}

.theme-white .visible-dark {
    display: none;
}

.bg-gray {
    background: #F3F3F3;
}

.bg-white {
    background: #ffffff;
}

.bg-black {
    background: #000000;
}

.container-lg {
    width: 90%;
    margin: auto;
    max-width: 1270px;
}

.container-md {
    width: 70%;
    margin: auto;
    max-width: 768px;
}

.container-sm {
    width: 50%;
    margin: auto;
    max-width: 572px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-50 {
    padding-top: 50px;
}

.px-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.px-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.pt-20 {
    padding-bottom: 20px;
}

.my-0 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.mt-20 {
    margin-top: 20px;
}

.fs-14 {
    font-size: 14px;
    line-height: 17px;
}

.fs-20 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
}

h1 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
}

h3 {
    font-size: 15px;
    line-height: 17px;
    font-weight: 800;
}

h4 {
    font-size: 15px;
    line-height: 19px;
}

p {
    font-size: 11px;
    line-height: 16px;
}

ul li {
    font-size: 11px;
    line-height: 13px;
}

.page-title {
    margin-bottom: 30px;
    text-align: center;
}

.fs-32 {
    font-size: 32px;
    font-weight: 800;
    line-height: 39px;
}

.header-logo-img {
    height: 70px;
}

.header-wrap {
    padding: 12px 0px;
    border-bottom: 2px solid #808080;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .nav-hamburger {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-image:url('../img/icon-hamburger-black.svg');
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-hamburger:hover {
    background-image:url('../img/icon-hamburger-hover.svg');
}

.theme-dark .nav-hamburger {
    background-image:url('../img/icon-hamburger-white.svg');
} */

.nav-hamburger {
    height: 32px;
    width: 40px;
    cursor: pointer;
}

.nav-hamburger span,
.nav-hamburger span::before,
.nav-hamburger span::after {
    background: black;        
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;         
    margin-top: 13px;
    
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotateY(180deg);

    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.theme-dark .nav-hamburger span,
.theme-dark .nav-hamburger span::before,
.theme-dark .nav-hamburger span::after {
    background: #ffffff;
}

.nav-hamburger span::before {
    margin-top:-12px;
}

.nav-hamburger span::after {
    margin-top:12px;
}

.nav-hamburger.active span {
    background: transparent;
}

.nav-hamburger.active span::before {
    margin-top: 0;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-hamburger.active span::after {
    margin-top: 0;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-hamburger.active {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.footer {
    padding: 30px 0px;
    color: #ffffff;
    background: #000000;
    /* max-height: 150px; */
    box-sizing: border-box;
}

.footer-contact {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 11px;
    line-height: 13px;
}

.footer-wrap-center{
    width: 50%;
}

.footer-wrap-left {
    width: 25%;
}

.footer-wrap-left p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-wrap-right p {
    margin: 0px;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer-wrap-right {
    width: 25%;
    text-align: right;
}

.footer-social-img {
    margin-left: 5px;
    width: 16px;
}

.page-content {
    padding-top: 65px;
    padding-bottom: 65px;
    /* min-height: calc(100vh - 195px); */
    box-sizing: border-box;
}

.user-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.user-wrap {
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
}

.user-img {
    width: 120px;
    height: 120px;
    background: #F3F3F3;
    display: inline-block;
}

.user-wrap p {
    margin: 0px;
}

.user-wrap .user-name {
    font-size: 15px;
    line-height: 13px;
    margin-bottom: 5px;
    font-weight: 800;
    margin-top: 20px;
}

.user-wrap .user-name-link {
    color: #000000;
    text-decoration: none;
}

.user-wrap .user-name-link:hover {
    color: #848484;
}

.user-wrap .user-role,
.user-wrap .user-category,
.user-wrap .user-company {
    font-size: 11px;
    line-height: 13px;
}

.user-wrap .user-role {
    text-transform: uppercase;
}

.user-wrap .user-role {
    font-weight: 800;
    text-transform: uppercase;
}

.service-wrap {
    padding-top: 50px;    
    margin-bottom: 50px;
    text-align: center;
}

.service-img {
    width: 150px;
    /* height: 60px; */
}

.service-name {
    min-width: 150px;
}

.service-desc {
    padding-top: 40px;
    border-top: 2px solid #B7B7B7;
    text-align: left;
    font-size: 11px;
    line-height: 16px;
}

.service-desc ul li {
    margin-bottom: 10px;
}

.platform-list {
    display: flex;
    justify-content: space-between;
}

.platform-wrap {
    width: calc(33.33% - 10px);
    position: relative;
    height: 0px;
    padding-top: calc(33.33% - 10px);
}

.platform-content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.platform-img {
    width: 80px;
    height: 80px;
}

.publication-wrap {
    display: flex;
    padding-top: 20px;
    border-top: 2px solid #808080;
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 13px;
    font-weight: 300;
}

.publication-wrap-left {
    width: 80px;
}

.publication-num {
    font-weight: 800;
    margin: 0px;
}

.publication-date {
    margin: 0px;
    margin-bottom: 5px;
}

.publication-name {
    font-weight: 800;
    margin: 0px;
    margin-bottom: 5px;
}

.publication-publisher {
    margin: 0px;
    font-weight: 400;
}

.contact-wrap {
    display: flex;
    justify-content: space-between;
}

.contact-wrap-left {
    width: calc(50% - 10px);
}

.contact-wrap-right {
    width: calc(50% - 10px);
}

.form-input {
    margin-bottom: 10px;
}

input,
select {
    background: #ffffff;
    border: 0px;
    outline: none;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    box-sizing: border-box;
}

button {
    background: #000000;
    color: #ffffff;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    padding: 10px 40px;
    cursor: pointer;
}

.contact-form {
    max-width: 572px;
}

.embeded-map-wrap {
    position: relative;
    width: 100%;
    height: 400px;
}

.embeded-map {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
    -webkit-backface-visibility: hidden;  /* Fix for transition flickering */
    width: 100%;
}

.menu-container {
    position: fixed;
    top: 98px;
    left: 0px;
    width: 100%;
    bottom: 0px;
    background: #F3F3F3;
    padding-top: 40px;
    z-index: 100;
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.menu-open .menu-container {
    /* display: block; */
    visibility: visible;
    opacity: 1;
}

.theme-dark .menu-container {
    background: #000000;
}

.menu-link-wrap {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000000;
}

.theme-dark .menu-link-wrap {
    border-bottom: 1px solid #ffffff;
}

.menu-link {
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    line-height: 19px;
    font-weight: 800;
}

.theme-dark .menu-link {
    color: #ffffff;
}

.video {
    display: block;
    position: relative;
}

.video-wrap {
    position: relative;
    /* height: calc(100vh - 400px); */
    height: 100%;
}

.video-wrap .video {
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.video video {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video:before {
    display:block;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    /* background-image: radial-gradient(ellipse 39% 84% at center center, transparent, black); */
    z-index: 1;

    background: linear-gradient(180deg, #000000 0%, #00000073 23%, #00000000 50%, #00000070 77%, #000000 100%) 0% 0% no-repeat padding-box;
}

.video:after {
    display:block;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    /* background-image: radial-gradient(ellipse 39% 84% at center center, transparent, black); */
    z-index: 1;

    background: #000000;
    opacity: .4;
}

.video-wrap .overlay-text {
    color: #ffffff;
    font-size: 24px;
    line-height: 29px;
    font-weight: 800;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    max-width: 776px;

    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    margin: 0px;
}

.invisible {
    opacity: 0;
    -webkit-animation: fadeIn ease 3s;
    animation: fadeIn ease 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.page-home {
    /* padding-top: 100px; */
    height: 100%;
}

.service-anchor-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service-anchor-wrap {
    text-align: center;
    width: calc(33.33% - 50px);
    margin-bottom: 50px;
}

.service-anchor-img {
    /* margin-bottom: 20px; */
    width: 150px;
}

.service-anchor-title {
    margin: 0px;
    font-size: 15px;
    line-height: 19px;
    font-weight: 800;
}

.service-anchor-link {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.service-anchor-part {
    margin-bottom: 80px;
    padding: 80px 0px;
}

.media-kit-row {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.media-kit-wrap {
    margin-right: 20px;
    margin-bottom: 20px;
}

.media-kit-img-wrap {
    text-align: center;
    width: 252px;
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-kit-lockup-img {
    width: 215px;
}

.media-kit-mark-img {
    height: 100px;   
}

.media-kit-title {
    margin: 0px;
    margin-top: 8px;
    font-size: 11px;
    font-weight: 800;
    line-height: 13px;
}

.contact-page-form-wrap {
    padding: 50px;
}

.footer .mobile-v {
    display: none;
}

.media-download-link {
    color: #000000;
    text-decoration: none;
}

.media-download-link:hover {
    color: #848484;
}

.media-kit-content-wrap {
    padding: 60px 40px;
}

.footer-wrap.desktop-v {
    height: 35px;
}

@media screen and (max-width: 768px) {
    .video-wrap .overlay-text {
        font-size: 20px;
        line-height: 25px;
    }

    .video video {
        width: initial;
    }

    .container-sm {
        width: 75%;
    }

    .platform-list {
        display: block;
    }

    .platform-wrap {
        margin: auto;
        margin-bottom: 20px;
    }

    .contact-wrap {
        display: block;
    }

    .contact-wrap-left {
        width: 100%;
    }

    .contact-wrap-right {
        width: 100%;
        margin-top: 30px;
    }

    .header-logo-img {
        height: 60px;
    }

    .nav-hamburger {
        width: 35px;
    }

    .nav-hamburger span, .nav-hamburger span::before, .nav-hamburger span::after {
        width: 35px;
    }

    .page-home {
        /* padding-top: 30px;
        padding-bottom: 30px; */
    }

    .footer-wrap-left p {
        margin: 5px 0px;
    }

    .footer-contact {
        margin: 10px 0px;
        margin-top: 0px;
    }

    .footer-wrap-right p{
        margin: 5px 0px;
    }

    .video-wrap {
        /* height: calc(100vh - 295px); */
    }

    .menu-container {
        top: 88px;
    }

    .footer-wrap {
        font-size: 14px;
    }

    .menu-link-wrap {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .service-anchor-wrap {
        width: calc(50% - 50px);
    }

    .footer {
        /* max-height: initial; */
    }
}
/* 768px */

@media screen and (max-width: 425px) {
    .video-wrap .overlay-text {
        font-size: 15px;
        line-height: 1.2;
    }

    .menu-link-wrap {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .container-sm {
        width: 90%;
    }

    .platform-wrap {
        width: 60%;
        padding-top: 60%;
    }

    .embeded-map-wrap {
        height: 0px;
        padding-top: 100%;
    }

    .service-anchor-wrap {
        width: 100%
    }

    .service-anchor-part {
        margin-bottom: 30px;
        padding: 50px 0px;
    }

    .service-anchor-wrap {
        margin-bottoM: 30px;
    }

    .service-wrap {
        padding-top: 30px;
        margin-bottom: 30px;
    }

    .header-logo-img {
        height: 50px;
    }

    .nav-hamburger {
        width: 30px;
    }

    .nav-hamburger span, .nav-hamburger span::before, .nav-hamburger span::after {
        width: 30px;
    }

    .nav-hamburger span::before {
        margin-top: -10px;
    }

    .nav-hamburger span::after {
        margin-top: 10px;
    }

    .menu-container {
        top: 76px;
    }

    .page-content {
        /* padding-top: 30px;
        padding-bottom: 30px; */
        /* min-height: calc(100vh - 188px); */
    }

    .management-page .page-content {
        padding-bottom: 10px;
        padding-top: 20px;
    }

    .user-wrap .user-name {
        font-size: 13px;
        line-height: 8px;
        margin-top: 10px;
    }

    .user-wrap .user-role, .user-wrap .user-category, .user-wrap .user-company {
        font-size: 10px;
        line-height: 12px;
    }

    .user-wrap {
        margin-bottom: 10px;
    }

    .management-page .page-title {
        margin-bottom: 20px;
    }

    .contact-page-form-wrap {
        padding: 20px;   
    }

    .embeded-map-wrap {
        padding-top: 60px;
    }

    .form-input-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .form-input-col-first-name,
    .form-input-col-last-name,
    .form-input-col-email,
    .form-input-col-company {
        width: calc(50% - 10px);
    }

    .form-input-col-interest-area {
        width: 100%;
    }

    .embeded-map-wrap {
        padding-top: 50%;
    }

    .form-input-row {
        margin-top: 10px;
    }

    .btn-contact-submit {
        margin-top: 10px;
    }

    .contact-page-form-wrap h1 {
        margin-top: 0px;
    }

    .contact-wrap-right {
        margin-top: 10px;
    }

    button {
        font-size: 11px;
        line-height: 10px;
    }

    .contact-page-form-wrap {
        padding-bottom: 10px;
    }

    .contact-page .page-content {
        padding-bottom: 10px;
        padding-top: 15px;
    }

    .media-kit-page .page-content {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .footer .mobile-v {
        display: block;
    }

    .footer .desktop-v {
        display: none;
    }

    .footer-bottom {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .footer-bottom p {
        margin: 0px;
    }

    .footer-wrap-right {
        width: initial;
        text-align: right;
    }

    .video-wrap {
        /* height: calc(100vh - 250px); */
    }

    .video:before {
        background: linear-gradient(180deg, #000000 0%, #00000073 40%, #00000000 50%, #00000070 60%, #000000 100%) 0% 0% no-repeat padding-box;
    }

    .footer {
        padding: 10px 0px;
    }

    .about-page .page-content {
        padding-top: 0px;
        padding-bottom: 10px;
    }

    .about-page .page-title {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .media-kit-content-wrap {
        padding: 20px 20px;
    }

    p {
        font-size: 11px;
        line-height: 13px;
    }

    .footer-contact {
        display: none;
    }
}
/* 425px */

@media screen and (max-width: 320px) {
    .page-content {
        /* min-height: calc(100vh - 222px); */
    }

    .about-page .page-title {
        margin-bottom: 10px;
        margin-top: 0px;
    }

    .about-page .page-content {
        padding-bottom: 10px;
    }

    .media-kit-img-wrap {
        width: 200px;
    }
}

#toolbarContainer {
    display: none;
}